.project_card {
    width: 48%;
    margin: 0.5%;
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
}

.project_card h4 {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 120px;
    margin-bottom: 1.3em;
    padding: 1em;
    background-color: #222;

    font-size: 1.3em;
    color: #ffbb33;
}

.project_card p {
    margin-bottom: 1em;

    color: #7a7a7a;
}

.project_card span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;

    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.category_text .infraestrutura {
    background-color: #ffaebc;
}
.category_text .desenvolvimento {
    background-color: #a0e7e5;
}
.category_text .desingn {
    background-color: #b4f8c8;
}
.category_text .planejamento {
    background-color: #fbe7c6;
}

.project_card_actions {
    display: flex;
    align-items: center;

    margin-top: 1.2em;
}

.project_card_actions a,
.project_card_actions button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1em;
    padding: 0.6em 1em;
    border: none;
    border: 1px solid #222;
    background-color: #fff;

    font-size: 0.9em;
    text-decoration: none;
    color: #222;

    transition: 0.5s;

    cursor: pointer;
}

.project_card_actions svg {
    margin-right: 0.5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}
